.page_header {
  background: $light-grey;
  padding: $lg-size 0;
  margin-bottom: $sm-size;

  h1 {
    margin: 0;
    font-weight: 300;
  }
}

.page_content {
  padding: $md-size 0;
  margin-bottom: $md-size;
}

.page_footer {
  background: $light-grey;
  padding: $md-size 0;
  margin-bottom: $sm-size;

  h1 {
    margin: 0;
    font-weight: 300;

    span {
      font-weight: 600;
    }
  }

}
