// Colors
$dark-grey: #333;
$light-grey: #f7f7f7;
$sky-blue: #1c88bf;
$dark-blue: #364051;

// Font Sizes
$font-size-md: 1.2rem;
$font-size-lg: 1.6rem;

// Sizes
$sm-size: 1.2rem;
$md-size: 1.6rem;
$lg-size: 3.2rem;
$xl-size: 4.8rem;

$desktop-breakpoint: 45rem;