// Colors
$dark-grey: #333;
$grey: #777;
$light-grey: #f7f7f7;
$sky-blue: #1c88bf;
$dark-blue: #364051;
$warn-yellow: #f1cc81;

// Font Sizes
$font-size-sm: 0.8rem;
$font-size-md: 1.2rem;
$font-size-lg: 1.6rem;
$font-size-xl: 3.2rem;

// Sizes
$xs-size: 0.8rem;
$sm-size: 1.2rem;
$md-size: 1.6rem;
$lg-size: 3.2rem;
$xl-size: 4.8rem;

$desktop-breakpoint: 45rem;